.award-container{
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.award-container h4{
    padding-top: 5px;
    padding-right: 10px;
}

.award{
    height: 55px;
    width: auto;
    margin: 25px 20px;
    opacity: 0.3;
    transition: all ease-in-out 0.3s;
}

.award:hover{
    opacity: 0.8;
}