.navbar{
    box-sizing: border-box;
    position: sticky;
    z-index: 1;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 20px 16px;
    top: 0;
    left: 0; 
    width: 100%;
    min-height: 90px;
    height: auto;
    background-color: #FFF;
    border-bottom: #d6d6d6 solid 0.5px;
}
.container, .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    padding: 0;
    width: 75%;    
}
.nav-item{
    margin: 4px 10px;
    font-size: 18px;
    transition: linear 0.3s;
}
.nav-item:hover{
    color: #e52f37;
}
.nav-bar-collapse{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.toggle{
    display: none;
    color: #e52f37;
    margin-right: 15px;
    padding: 4px 16px;
    border: solid 1px #e52f37;
    border-radius: 4px;
}
.get-started{
    background-color: #e52f37;
    color: white;
    padding: 12px 18px;
    border: solid #e52f37 1px;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    margin: 0px 10px;
    transition: linear 0.3s;
}
.get-started:hover{
    background-color: white;
    color: #e52f37;
}
.logo button{
    box-sizing: border-box;
    padding: 5px 0px;
    margin: 0px 16px 0px 0px;
    background-color: #FFF;
    text-align: center;
    display: inline;
}
.logo{
    color: #e52f37;
    font-weight: 700;
    font-size: 28px;
    border: hidden;
}
.foot-text{
    color: #454545 !important;
    font-size: 18px !important;
    font-family: "Open San", sans-serif !important;
}
.foot-text strong{
    font-weight: 900;
}
.foot-text a{
    color: #e52f37;
    text-decoration: underline;
}
.footer-container{
    display: flex;
    justify-items: flex-end;
}
.footer-container i{
    height: fit-content;
    margin: 26px 10px 10px 8px;
}
@media only screen and (max-width: 990px){
    .navbar{
        padding-left: 10px;
    }
    .container{
        width: 90%;
        margin: 0px;
    }
    .nav-bar-collapse{
        display: none;
    }
    .toggle{
        display: block;
    }
    .footer{
        flex-direction: column;
    }
}
@media only screen and (max-width: 578px){
    .container{
        width: 100%;
        box-sizing: content-box;
    }
}
