.price-intro {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    width: 24%;
}
.price-card-container{
    display: flex;
    align-self: center;
    margin-top: 40px;
    width: 50%;
}
.price-card {
    width: 48%;
    margin: 0 40px 20px 20px;
    padding: 5% 20px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    color: #6a6a6a;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    transition: all linear 0.3s;
}
.price-card.white:hover {
    transform: scale(1.02);
}
.price-card.red:hover {
    transform: scale(1.02, 1.071) !important;
}
.price-card p {
    font-size: 17px;
}
.price-card a {
    display: inline-block;
    font-family: Roboto, sans-serif !important;
    font-size: 15px !important;
    font-weight: 900;
    border-radius: 20px !important;
    margin: 20px auto;
    padding: 15px 30px !important;
    box-sizing: border-box !important;
    transition: all linear 0.2s;
}
.white {
    background-color: #fff;
    color: #292929 !important;
}
.white a {
    border: 1px solid #e52f37;
}
.white a:hover {
    background-color: #e52f37;
    color: #fff;
}
.red {
    transform: scaleY(1.05);
    color: #fff !important;
    background-color: #e52f37;
}
.red a {
    border: 1px solid #fff;
    background-color: #fff;
    color: #e52f37;
}
.red a:hover {
    background-color: #e52f37;
    color: #fff;
}
.red p {
    color: inherit !important;
}
.price-title {
    color: inherit !important;
    font-size: 18px !important;
    margin-bottom: 10px;
}
.price-subtitle {
    margin-bottom: 5px !important;
}
.price-text {
    margin-top: 5px !important;
}
.price-value {
    color: inherit !important;
    font-size: 70px !important;
    margin: 20px 0px 10px !important;
    font-family: Roboto, sans-serif !important;
}
@media only screen and (max-width: 768px) {
    .price-intro, .price-card-container{
        width: 80%;
        align-self: center;
    }
    .price-card {
        margin: 0 45px 20px 20px;
        padding: 20px 10px;
    }
}
@media only screen and (max-width: 578px) {
    .price-intro, .price-card-container{
        width: 90%;
    }
    .price-card-container{
        flex-direction: column;
    }
    .price-card{
        width: 90%;
        margin: 20px 4%;
    }
    .red{
        transform: scale(1);
    }
}